## Игнорируйте временные файлы Visual Studio, результаты сборки и
## файлы,созданные популярными надстройками Visual Studio.
##
## Получить последние новости от https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Пользовательские файлы
*.пользователь rsuser
*.suo
*.пользователь
*.кэш-память пользователя
*.sln.докторантура

# Пользовательские файлы (MonoDevelop/Xamarin Studio)
*.ссылки на пользователей

# Результаты построения
[Dd]ebug/
[Dd]ebugPublic/
[Rr]элеаза/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Мм]/
[Aa][Rr][Мм]64/
блд/
[Bb]в/
[Оо]би Джей/
[Лл]ог/

# Каталог кэша/опций Visual Studio 2015/2017
.против/
# Раскомментируйте, если у вас есть задачи, которые создают статические файлы проекта в wwwroot
#wwwroot/

# Автоматически сгенерированные файлы Visual Studio 2017
Сгенерированные\ Файлы/

# Результаты теста MSTest
[Tt]есть[Rr]результат*/
[Bb]uild[Ll]og.*

# НУНИТ
*.VisualState.xml
TestResult.xml

# Результаты сборки проекта ATL
[Dd]ebugPS/
[Rr]элеазеПС/
dlldata.c

# Контрольные результаты
Бенчмаркдотнет.Артефакты/

# .NET Core
project.lock.json
проект.фрагмент.блокировка.json
артефакты/

# СтильКоп
StyleCopReport.xml

# Файлы, созданные Visual Studio
*_i.c
*_p.c
*_ч.ч
*.ilk
*.мета
*.возражение
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.войти
*.vspscc
*.vssscc
.строит
*.pidb
*.svclog
*.scc

# Дерзкие тестовые файлы
_чутцпа*

# Файлы кэша Visual C++ 
ipch/
*.aps
*.НКО
*.opendb
*.opensdf
*.sdf
*.файла кэша
*.VC.db
*.VC.VC.opendb

# Профилировщик Visual Studio
*.psess
*.всп
*.vspx
*.sap

# Файлы трассировки Visual Studio
*.e2e

# Локальное рабочее пространство TFS 2012
$tf/

# Инструментарий Автоматизации Руководства
*.gpState

# ReSharper-это надстройка для кодирования .NET
_решарпер*/
*.[Rr]e[Ss]харпер
*.Настройки точек.пользователь

# JustCode-это надстройка для кодирования .NET
.Просто введите

# TeamCity-это надстройка для сборки
_темсити*

# dotCover-это инструмент покрытия кода
*.точЕчная обложка

# AxoCover-это инструмент покрытия кода
.axoCover/*
!.axoCover/настройки.json

# Результаты покрытия кода Visual Studio
*.охват
*.coveragexml

# NCrunch
_NCrunch_*
.*хруст*.local.xml
nCrunchTemp_*

# Могучий выбор
*.мм.*
AutoTest.Net/

# Веб-верстак (sass)
.sass-кэш/

# Папка вывода Installshield
[Ee]xpress/

# DocProject-это надстройка для генератора документации
DocProject/buildhelp/
DocProject/Справка/*.HxT
DocProject/Справка/*.HxC
DocProject/Справка/*.hhc
DocProject/Справка/*.hhk
DocProject/Справка/*.hhp
DocProject/Справка/Html2
DocProject/Справка/html

# Каталог с одним щелчком мыши
публиковать/

# Опубликовать Веб-Вывод
*.[Pp]ublish.xml
*.azurePubxml
# Примечание: Прокомментируйте следующую строку, если вы хотите проверить настройки веб - развертывания,
# но строки подключения к базе данных (с потенциальными паролями) будут незашифрованы
*.pubxml
*.опубликовать проект

# Параметры публикации веб-приложения Microsoft Azure. Прокомментируйте следующую строку, если хотите
# проверьте настройки публикации веб-приложения Azure, но конфиденциальную информацию, содержащуюся
# в этих сценариях будут зашифрованы
Публикуемые тексты/

# Пакеты NuGet
*.nupkg
# Папка пакеты может быть проигнорирована из-за восстановления пакета
**/[Pp]документы/*
# кроме build/, который используется в качестве целевого объекта MSBuild.
!**/[Pp]ackages/сборка/
# Раскомментируйте, если необходимо, однако, как правило, он будет восстановлен при необходимости
#!**/[Pp]учетные записи/репозитории.конфигурация
# Файлы проекта NuGet v3.json создают больше игнорируемых файлов
*.nuget.реквизит
*.nuget.цели

# Вывод сборки Microsoft Azure
csx/
*.сборка.csdef

# Эмулятор Microsoft Azure
ecf/
rcf/

# Каталоги и файлы пакетов приложений магазина Windows
AppPackages/
Комплектные статьи/
Пакет.StoreAssociation.xml
_pkginfo.txt
*.appx

# Файлы кэша Visual Studio
# файлы, заканчивающиеся на .cache, можно игнорировать
*.[Cc]боль
# но следите за каталогами, заканчивающимися на .cache
!?*.[Cc]боль/

# Другие
Клиентская база/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.публикации
орлеан.codegen.cs

# Включение файлов строгих имен может представлять угрозу безопасности
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.снк

# Поскольку существует несколько рабочих процессов, раскомментируйте следующую строку, чтобы игнорировать bower_компоненты
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_компоненты/

# Проекты RIA/Silverlight
Сгенерированный код/

# Резервное копирование файлов и отчетов при преобразовании старого файла проекта
# на более новую версию Visual Studio. Файлы резервных копий не нужны,
# потому что у нас есть мерзавец ;-)
_UpgradeReport_Files/
Резервноекопирование*/
Списокобновлений*.XML
Списокобновлений*.htm
ServiceFabricBackup/
*.rptproj.bak

# Файлы SQL Server
*.мдф
*.ldf
*.ndf

# Проекты бизнес-аналитики
*.rdl.данные
*.bim.макет
*.bim_*.настройки
*.rptproj.rsuser
*- Резервноекопирование*.rdl

# Подделки Microsoft
Поддельные сборки/

 Файл настроек плагина # GhostDoc
*.GhostDoc.xml

# Node.js Инструменты для Visual Studio
.ntvs_analysis.dat
node_модули/

# Журнал сборки Visual Studio 6
*.plg

# Файл параметров рабочей области Visual Studio 6
*.выберите

# Автоматически созданный файл рабочей области Visual Studio 6 (содержит, какие файлы были открыты и т.д.)
*.vbw

# Вывод сборки LightSwitch в Visual Studio
**/*.HTMLClient/Созданные статьи
**/*.DesktopClient/Созданные объекты
**/*.DesktopClient/ModelManifest.xml
**/*.Сервер/Созданные объекты
**/*.Server/ModelManifest.xml
_pvt_экстензии

# Менеджер зависимостей пакетов
.paket/paket.exe
пакеты-файлы/

# ПОДДЕЛКА - F# Сделать
.подделка/

# Гонщик на реактивных мозгах
.идея/
*.sln.iml

# Личные настройки CodeRush
.cr/личные

# Инструменты Python для Visual Studio (PTVS)
__тайник__/
*.pyc

# Торт - Раскомментируйте, если вы его используете
# инструменты/**
# !инструменты/пакеты.конфигурация

# Студия вкладок
*.tss

# Файл конфигурации JustMock Телерика
*.jmconfig

# Вывод сборки BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Результаты анализа пользовательского интерфейса OpenCover
Открытая обложка/

# Вывод локального запуска Azure Stream Analytics
ASALocalRun/

# MSBuild Двоичный и структурированный журнал
*.binlog

# Файл конфигурации отладчика графического процессора NVidia Nsight
*.пользователь nv

# Рабочая папка MFractors (инструмент повышения производительности Xamarin) 
.мфрактор/

# Локальная история для Visual Studio
.местная история/

# Временная база данных проверки работоспособности BeatPulse
база данных проверок здоровья
© 2021 GitHu
